<?xml version="1.0"?>
<model>
  <name>Walking actor</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>

  <author>
    <name>Mingfei</name>
    <email>TODO</email>
  </author>

  <description>
    A walking actor. Model created by Mingfei (https://app.gazebosim.org/Mingfei/fuel/models/actor_walk/)
  </description>
</model>
